# Copied from https://github.com/LearnBoost/socket.io/blob/master/.gitignore
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
benchmarks/*.png
node_modules

# Custom
public/stylesheets/mabey.css