.home-padding
  padding 10px 20px
  
.welcome
  background #d3a44a

  h1
    color #fff
    text-shadow my-shadow
    text-transform uppercase

  .welcome-text
    color #fff
    font-size 20px
    line-height 1.5em
    padding 3px 15px 3px 0

  .welcome-slider
    padding 20px 30px
      
  .bx-viewport
    border-color #edd29d !important
    box-shadow none !important

.pure-button-mabey
  background #fff
  color my-black
  display block
  font-size 110%
  padding-top 10px
  padding-bottom 10px
  text-transform uppercase
  text-shadow my-shadow

.pure-button-mabey.first
  margin-bottom 15px

.hotel-title
  a
    text-decoration none
    color my-black
  h1
    font-size 18px
    text-transform uppercase

    .hotel-name
      display block

    .cusco
      color cusco
      font-size 70px
    .valle
      color valle
      font-size 70px

.hotel-image
  img
    padding 5px
  &.cusco
    img
      background cusco-light
  &.valle
    img
      background valle-light

.hotel-text
  p
    color #fff
    font-size 18px
    line-height 1.3em

.hotel-front.cusco
  background cusco

.hotel-front.valle
  background valle