.pure-menu.pure-menu-mabey
  background none
  margin-top 80px
  margin-left 0px

  li
    margin-right 10px

    a
      background #a9986c
      border-bottom 3px solid #8e7d51
      border-radius 3px
      color #f9f8f5
      padding-bottom 1px
      padding-top 1px